* {
	font-family: 'monofonto';
	letter-spacing: 1.5px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}
body {
	background-color: #2B2B2B;
}
a {
	text-decoration: none;
}
a:link {
	color: #45CF4D;
}
a:visited {
	color: #45CF4D;
}
a:hover {
	color: #4585F2;
}
a:active {
	color: #F94A32;
}
rule {
	color: #EEEEEE;
}
.Table {
	width: 480px;
	height: 480px;
	border-collapse: separate;
	border-spacing: 8px;
}
.Row {
}
.Cell {
	margin: 30px;
    border-radius: 25%;
	font-size: 4vw;
	text-align: center;
}
.Cell.CellState1 {
	background-color: #555555;
}
.Cell.CellState2 {
	background-color: #F94A32;
}
.Cell.CellState3 {
	background-color: #A73CBA;
}
.Cell.CellState4 {
	background-color: #45CF4D;
}
.Cell.CellState5 {
	background-color: #4585F2;
}
.heading {
	font-size: 4em;
	text-align: center;
	color: #45CF4D;;
	margin: 20px 0px;
	cursor: pointer;
}
#twitter-info {
	text-align: center;
	color: #EEEEEE;
}
#score {
	text-align: center;
	color: #EEEEEE;
	margin-top: 20px;
}
#report-bug {
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	position: absolute;
	display: block;
	background: transparent url(../img/bug-banner.png) 0 0 no-repeat;
	cursor: pointer;
}
#GameTable {
	margin-left: auto;
	margin-right: auto;
}
#menu {
	border-collapse: separate;
	border-spacing: 30px;
	margin: 75px auto;
	text-align: center;
}
#menu tr td{
	background-color: #1B1B1B;
	width: 120px;
	height: 120px;
	max-width: 120px;
	max-height: 120px;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	color: #EEEEEE;
}
#menu tr td h1 {
	font-size: 3em;
	cursor: pointer;
}
#menuButtonContainer {
	width: 100%;
	height: 250px;
}
#gameButtonContainer {
	z-index: 10;
	position: absolute;
	width: 280px;
	height: 350px;
	top: 120px;
	left: 70px;
}
.menuButton {
	cursor: pointer;
}
.button {
	background-color: #1B1B1B;
	width: 200px;
	height: 50px;
	border-radius: 12px;
	margin: 30px 40px;
	cursor: pointer;
	color: #EEEEEE;
}
.button h1 {
	display: table-cell;
	width: 200px;
	height: 50px;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.overlay {
	z-index: 50;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#MainMenu {
	background-color: #2B2B2B;
}
#gameHowToPlay {
	z-index: 10;
	position: absolute;
	width: 260px;
	height: 350px;
	top: 120px;
	right: 80px;
	margin: 30px 0px;
}
#gameHowToPlay p {
	color: #CCCCCC;
}
